.todo-input {
  margin-bottom: 10px;
}
.todo-item {
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}
.filter-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-buttons button {
  margin-right: 5px;
}
